.booking h3 {
	margin: 40px 0;
	color: #FFD100;
}

.screen-side {
	color: white;
	text-align: center;
	border-bottom: 1px solid white;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	margin-bottom: 70px;
}

.booking button {
	color: #333533;
	margin-top: 40px;
  border-radius: 0px;
  border: 0;
  /*font-size: 1em;*/
  /*font-weight: 500;*/
  /*font-family: inherit;*/
  cursor: pointer;
  /*transition: border-color 0.25s;*/
}
.booking button:hover {
	color: black;
}

button.btn-book {
	margin-right: 20px;
  background-color: #FFD100;
}
.booking button.btn-book:hover {
	color: black;
  background-color: #ffd80f;
}

/*.booking button:focus,
.booking button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}*/