.screening .card-body {
	padding-bottom: 0;
}

.screening .col-3 {
	width: 100%;
}

.screening .card-footer:last-child {
	width: 100%;
	margin: 0 auto;
	flex-direction: column;
}

.card-footer .col {
	padding: 0;
}

.screening.card {
	border: 0;
	border-radius: 0;
	background-color: #D6D6D6;
	display: flex;
}


.screening img.card-img {
	/*width: auto;*/
	border-radius: 0;
	padding: 0;
}

.screening .description-card {
	display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;

}

.screening .card-footer button {
	margin-top: 10px;
	width: 100%;
  border-radius: 0px;
  border: 0;
  /*font-size: 1em;*/
  /*font-weight: 500;*/
  /*font-family: inherit;*/
  background-color: #FFD100;
  cursor: pointer;
  /*transition: border-color 0.25s;*/
}
.screening .card-footer button:hover {
  background-color: #ffd80f;
}
.screenin/*g .card-footer button:focus,
.screening .card-footer button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}*/

@media (min-width: 992px) {
  .screening.card {
    flex-direction: row;
  }

  .screening img.card-img {
  	width: auto;
  }
}

@media (min-width: 1200px) {
	.screening .description-card {
		display: -webkit-box;
		-webkit-line-clamp: 5;
		-webkit-box-orient: vertical;
	}
}

@media (min-width: 460px) {
  .screening .card-footer button {
  	margin: 0;
    width: auto;
  }

  .screening .card-footer:last-child {
  	flex-direction: row;
  	width: 100%;
	}

	.screening .col-3 {
		width: 25%;
	}
}