.App {
  background-color: #333533;
  min-height: 100vh;
}

nav.navbar {
  background-color: #202020;
  color: white;
  margin-bottom: 20px;
}

nav.navbar-brand {
  color: #FFEE32;
}


button.btn-ff {
  margin-top: 10px;
  width: auto;
  /*width: 100%;*/
  border-radius: 0px;
  border: 0;
  font-s ize: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FFD100;
  cursor: pointer;
  transition: border-color 0.25s;
}
button.btn-ff:hover {
  background-color: #f9dd02;
  color: black;
}
button.btn-ff:focus,
button.btn-ff:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button.btn-ff-secondary {
  background-color: #6c757d;
}
button.btn-ff-secondary:hover {
  background-color: #5c636a;
}

/*@media (min-width: 460px) {
  .screening button {
    margin: 0;
    width: auto;
  }
}*/